# ROS1 specific
build/
devel/
install/
log/
*.bag
*.log
*.log.*
*.pyc
*.swp
*.bak
*.orig
*.so
*.out
*.o
*.a
*.d
*.la
*.lo
*.lai
*.swo
*.swn
*.tmp
*.DS_Store
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
*.idea/
.vscode/
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/c_cpp_properties.json
.vscode/cmake-kits.json
.vscode/cmake-tools.json
.vscode/compile_commands.json
.vscode/clangd/
.vscode/clangd/*
.vscode/clangd/index/
.vscode/clangd/index/*
.vscode/clangd/index/lock
.vscode/clangd/index/lock/*
.vscode/clangd/index/lock/lockfile
.vscode/clangd/index/lock/lockfile/*